
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />

<div class="about-content">
    <h1>Our Story</h1>
    <p class="paragraph">
        One fine day, an idea came into our mind “what if we could decorate people’s homes & offices with 
        greenery?”. And that is how this green space called KYARI was born.
    </p>

    <div class="img-content">
        <img src="~/hands.jpg" width="350px" height="400px">
        <p>
            To decorate your interior landscape with greenery, to give it a luxurious vibe, to brighten up 
            your indoor garden, to make you feel calm like you are in the arms of nature. Our plants are grown
            with the utmost care to keep them healthy & happy. It is no surprise that spending time with nature 
            brings tranquility. With a busy lifestyle, having a lovely indoor garden is perfect to feel the embrace
            of nature.And for these plants, every planter is crafted to reflect class & uniqueness, elegance & style.
        </p>
    </div>

    <div class="img-content">
        <img src="~/about_agriculture.jpg" width="350px" height="400px">
        <p>
            With our decor options, you can give your home & office a lavish look. Whether you need 
            a houseplant, a planter, or a succulent to decorate your home & office; we are here for you. 
            We have a wide range of decór options, from traditional design to contemporary, from decorative 
            plants to succulents, and from planters to planter stands; we have everything that will make you 
            fall in love with your indoors.Every day we are learning something new about the world of plants, 
            succulents, and planters; to improve our products to serve you in the best way possible.
        </p>
    </div>
</div>

