@{
    ViewData["Title"] = "Assesories";
}

<link rel="stylesheet" href="~/css/Assesories.css" asp-append-version="true" />

<div class="tool-section">
    <h1>Gradening Tools</h1>
    <div class="tools-content">
        <div class="tools-card-items">
            <div class="tool-card">
                <img src="~/garden_fork.jpeg" width="150px" height="100px">
                <span>Garden Fork</span>
            </div>

            <div class="tool-card">
                <img src="~/hoe.jpeg" width="150px" height="100px">
                <span>Hoe</span>
            </div>
        </div>


        <div class="tools-card-items">
            <div class="tool-card">
                <img src="~/hose.jpeg" width="150px" height="100px">
                <span>Hose</span>
            </div>

            <div class="tool-card">
                <img src="~/loppers.jpeg" width="150px" height="100px">
                <span>Loppers</span>
            </div>
        </div>

        <div class="tools-card-items">
            <div class="tool-card">
                <img src="~/spade.jpeg" width="150px" height="100px">
                <span>Spade</span>
            </div>

            <div class="tool-card">
                <img src="~/rake.jpeg" width="150px" height="100px">
                <span>Rake</span>
            </div>
        </div>
    </div>
</div>