@{
    ViewData["Title"] = "Help";
}

<link rel="stylesheet" href="~/css/Help.css" asp-append-version="true" />

<div class="contact-section">
    <h1>Contact Us</h1>
    <div class="contact-details">
        <div class="contact-card">
            <img src="~/contact_location.png" width="80px" height="80px">
            <div class="contact-item-info">
                <span class="big">Our Office Address</span>
                <span class="small">150 feet road, qrolic wings, mahudi chawk, Rajkot</span>
            </div>
        </div>
        <div class="contact-card">
            <img src="~/contact_gmail.png" width="80px" height="80px">
            <div class="contact-item-info">
                <span class="big">  <a href="mailto:hdabhi902@rku.ac.in">General Enquiries</a></span>
                <span class="small">dharatiplantsgroup@gmail.com</span>
            </div>
        </div>

        <div class="contact-card">
            <img src="~/contact_phone.png" width="80px" height="80px">
            <div class="contact-item-info">
                <span class="big"><a href="tel:+919924680675">Call Us</a></span>
                <span class="small">+91 9924680675 , 8785451263 </span>
            </div>
        </div>

        <div class="contact-card">
            <img src="~/contact_time.png" width="80px" height="80px">
            <div class="contact-item-info">
                <span class="big">Our Timing </span>
                <span class="small">Mon - Sat : 9:00 AM - 9:00 PM</span>
            </div>
        </div>
    </div>
</div>