@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="container-my">
    <div class="home-content">
        <h3>Explore a vast collection of</h3>
        <h2>Vibrant and Triviliant Plants Growth</h2>
        <a href="https://bharatkrushiseva.com/"><button>Read More</button></a>
    </div>
</div>

