@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/Price.css" asp-append-version="true" />

<h1>Plants Price : -</h1>
<div class="plants-price-section">
    <div class="card-item">
        <img src="~/pot_1.jpg" alt="" width="250px" height="300px">
        <span>120 Rs.</span>
    </div>
    <div class="card-item">
        <img src="~/pot_2.jpg" alt="" width="250px" height="300px">
        <span>70 Rs.</span>
    </div>
    <div class="card-item">
        <img src="~/pot_3.jpg" alt="" width="250px" height="300px">
        <span>300 Rs.</span>
    </div>
    <div class="card-item">
        <img src="~/pot_4.jpg" alt="" width="250px" height="300px">
        <span>200 Rs.</span>
    </div>
</div>

<h1>Seeds Price : -</h1>
<div class="plants-price-section">
    <div class="card-item">
        <img src="~/seed_beans.jpeg" alt="" width="250px" height="300px">
        <span>125 Rs.</span>
    </div>
    <div class="card-item">
        <img src="~/seed_corn.jpeg" alt="" width="250px" height="300px">
        <span>200 Rs.</span>
    </div>
    <div class="card-item">
        <img src="~/seed_kiwi.jpeg" alt="" width="250px" height="300px">
        <span>325 Rs.</span>
    </div>
    <div class="card-item">
        <img src="~/seed_mango.jpeg" alt="" width="250px" height="300px">
        <span>100 Rs.</span>
    </div>
</div>