@{
    ViewData["Title"] = "Vlog";
}

<link rel="stylesheet" href="~/css/Vlog.css" asp-append-version="true" />

<div class="vlog-container">
    <h1>Our Daily Vlog</h1>
    <video width="1100" height="600" controls>
        <iframe width="1100" height="600" src="https://youtu.be/K4F1yZRHNXY?si=ilary0GT_6Fl_bQh" frameborder="0" allowfullscreen allow="encrypted-media; gyroscope; picture-in-picture"></iframe>

    </video>
</div>